.card-list{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.circle{
    background: grey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.active{
    background-color: greenyellow;
}

.inactive{
    background-color: red;
}